[submodule "jasoncraftwrites.com/hugo-theme-dream"]
	path = jasoncraftwrites.com/hugo-theme-dream
	url = https://github.com/g1eny0ung/hugo-theme-dream
[submodule "jasoncraftwrites.com/themes/hugo-theme-dream"]
	path = jasoncraftwrites.com/themes/hugo-theme-dream
	url = https://github.com/g1eny0ung/hugo-theme-dream
[submodule "jasoncraftwrites.com/themes/dream"]
	path = jasoncraftwrites.com/themes/dream
	url = https://github.com/g1eny0ung/hugo-theme-dream
[submodule "jasoncraftwrites.com/themes/massively"]
	path = jasoncraftwrites.com/themes/massively
	url = https://github.com/curttimson/hugo-theme-massively.git
